@import "./variables.scss";

.header {
  border-bottom: 1px solid white;
  padding: $base-pad;
  padding-left: 0;
  padding-right: 0;
  div:first-child {
    @include flex-col;
  }
  .profile {
    @include flex-col;

    .status {
      margin-right: 3rem;
      button {
        &:first-child {
          background-color: #4caf50;
          &:hover {
            background-color: #569859;
          }
        }
        &:nth-child(2) {
          background-color: #ff5722;
          &:hover {
            background-color: #c9522d;
          }
        }
      }
    }
    .profile-info {
      @include flex-col;
      position: relative;
      cursor: pointer;

      .username {
        font-size: 1.5rem;
      }

      .user-img {
        font-size: 2rem;
      }

      .profile-menu {
        background-color: #001f3f;
        position: absolute;
        top: 2.5rem;
        right: 0;
        width: 13rem;
        border-radius: $border-rad;
        padding: 0.5rem 1rem;

        .menu-item {
          @include flex-col;
          justify-content: flex-start;
          gap: 0.5rem;
          padding: 0.5rem 0;
          font-size: 1.2rem;
          cursor: pointer;

          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }
}
