@import "./variables.scss";

.header {
  border-bottom: 1px solid white;
  padding: $base-pad;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  width: 100%;
  background-color: #2a4563;
  div:first-child {
    @include flex-col;
  }

  .logo-title {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .profile {
    @include flex-col;

    .status {
      margin-right: 3rem;
      button {
        &:first-child {
          background-color: #4caf50;
          &:hover {
            background-color: #569859;
          }
        }
        &:nth-child(2) {
          background-color: #ff5722;
          &:hover {
            background-color: #c9522d;
          }
        }
      }
    }
    .profile-info {
      @include flex-col;
      position: relative;
      cursor: pointer;
      gap: 0.5rem;

      .username {
        font-size: 1.3rem;

        @media screen and (max-width: $mobileL) {
          display: none;
        }
      }

      .user-img {
        font-size: 2rem;
      }

      .profile-menu {
        background-color: #001f3f;
        position: absolute;
        top: 2.5rem;
        right: 0;
        width: 13rem;
        border-radius: $border-rad;
        padding: 0.5rem 0;

        .menu-item {
          @include flex-col;
          justify-content: flex-start;
          gap: 0.5rem;
          padding: 0.5rem 0;
          font-size: 1.1rem;
          cursor: pointer;
          padding: 0.5rem 1rem;

          @media screen and (max-width: $mobileL) {
            font-size: 1.3rem;
            padding: 0.8rem 1.5rem;
          }

          &:hover {
            color: #001f3f;
            background-color: #bee3f8;
          }
        }
      }
    }
  }
}
